<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmLight" version="4.1.27.0" targetFramework="win" />
  <package id="MvvmLightLibs" version="4.1.27.0" targetFramework="win" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="win" />
  <package id="Q42.WinRT" version="1.0.7.42" targetFramework="win" />
</packages>