<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="ip" value="10.70.16.38"/>
    <add key="key" value="dpzXfw8NvafvCCvtLkQLUET-6Kc4jT4RovPg59Rx"/>-->
    <add key="ip" value="192.168.0.4"/>
    <add key="key" value="YLRlMeKdb6Fedj7VaJdKIYVErs-STLlNbCmf4rwb"/>
    <add key="streamingKey" value="9EF44FFF43C59CC3C51AEBF70AF4BBDD"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
