<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ip" value="10.42.35.98"/>
    <add key="key" value="huelandspoor"/>-->
    <add key="ip" value="192.168.0.4"/>
    <add key="key" value="8JwWAj5J1tSsKLxyUOdAkWmcCQFcNc51AKRhxdH9"/>
    <add key="streamingKey" value="AFFD322C34C993C19503D369481869FD"/>
  </appSettings>
</configuration>
