<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="ip" value="10.42.35.98"/>
    <add key="key" value="huelandspoor"/>-->
  <add key="ip" value="192.168.0.4"/>
    <add key="key" value="QuGytBRllMbzYePDy1BrIyHBHcCp0LdJFIwJlvoO"/>
  </appSettings>
</configuration>