name: Build and publish
on:
  push:
    branches:
      - feature/workflow # Default release branch
jobs:
  publish:
    name: build, pack & publish
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 6.0.x

      - name: Package HueApi
        run: dotnet build -c Release -o . src/HueApi/HueApi.csproj
      - name: Package HueApi.ColorConverters
        run: dotnet build -c Release -o . src/HueApi.ColorConverters/HueApi.ColorConverters.csproj
      - name: Package HueApi.Entertainment
        run: dotnet build -c Release -o . src/HueApi.Entertainment/HueApi.Entertainment.csproj
      - name: Package Q42.HueApi
        run: dotnet build -c Release -o . src/Q42.HueApi/Q42.HueApi.csproj
      - name: Package Q42.HueApi.ColorConverters
        run: dotnet build -c Release -o . src/Q42.HueApi.ColorConverters/Q42.HueApi.ColorConverters.csproj
      - name: Package Q42.HueApi.Streaming
        run: dotnet build -c Release -o . src/Q42.HueApi.Streaming/Q42.HueApi.Streaming.csproj
      - name: Publish HueApi
        run: dotnet nuget push HueApi.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
      - name: Publish HueApi.ColorConverters
        run: dotnet nuget push HueApi.ColorConverters.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
      - name: Publish HueApi.Entertainment
        run: dotnet nuget push HueApi.Entertainment.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
      - name: Publish Q42.HueApi
        run: dotnet nuget push Q42.HueApi.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
      - name: Publish Q42.HueApi.ColorConverters
        run: dotnet nuget push Q42.HueApi.ColorConverters.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate
      - name: Publish Q42.HueApi.Entertainment
        run: dotnet nuget push Q42.HueApi.Entertainment.*.nupkg -k ${{ secrets.NUGET_API_KEY }} -s https://api.nuget.org/v3/index.json --skip-duplicate